upstream {{ nginx_project_name }} {
    server {{ _nginx.proxy_pass }}; # for a web port socket (we'll use this first)
}

server {
    listen {{ _nginx.port }};
    server_name {{ _nginx.server_name }};

    location /favicon.ico {
        alias {{ nginx_favicon }};
    }

    location /static/ {
        alias {{ nginx_path_static }}/;
    }

    location /media/ {
        alias {{ nginx_path_media }}/;
    }

    location / {
      {% if nginx_uwsgi_enabled is defined %}
        include         uwsgi_params;
        uwsgi_pass      {{ nginx_project_name }};
      {% endif %}
        add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
        # proxy_set_header Host $http_host;
        # proxy_set_header X-Real-IP $remote_addr;
        # proxy_set_header X-Scheme $scheme;
        # proxy_pass {{ _nginx.proxy_pass}};
        # proxy_next_upstream error;
    }

    access_log {{ _nginx_file_path_log }}.access_log;
    error_log {{ _nginx_file_path_log }}.error_log;
}
